@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


/* 헤더 */
header{
	max-height: 6rem;
	overflow: hidden;
	transition:max-height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.5s;

}
header.open-menu{
	max-height: 100rem;
}

header .brand .black{
	display:block
}
header .brand .white{
	display:none
}

/* 네비세이션 바 메뉴 */
.navigation{
	display:flex;
}
.navigation > li{
	position:relative;
}
.navigation > li > ul{
	position:absolute;
	top:2.5rem;
	left:50%;
	transform: translateX(-50%);
	padding:0.5rem 0;
}
.navigation > li > a{
	display:block;
	width:6.125rem;
	text-align:center;
}
.navigation > li.active > a,
.navigation > li > a:hover,
.navigation > li.current > a{
	color:#8C48C0;
}

.navigation > li > ul > li > a{
	display:block;
	padding:0.75rem;
	white-space:nowrap;
	word-break:keep-all;
	text-align: center;
	color:#fff;
}
.navigation > li > ul > li > a:hover{
	color:#8C48C0;
}

header .bg-menu{
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
}

/* 메인화면 헤더 */
.transparent-mode header{
	background-color:transparent;
}
.transparent-mode header .brand .black{
	display:none
}
.transparent-mode header .brand .white{
	display:block
}
.transparent-mode header .navigation > li > a{
	color:#fff;
}

.transparent-mode header .functions > li > a{
	color:#fff;
}

/* 메인 */
#fp-nav{
	z-index:10 !important;
	transition: opacity 0.3s;
}
.footer-mode #fp-nav{
	opacity:0;
}
#fp-nav ul li{
	height:24px !important;
}
#fp-nav ul li:last-child{
	display:none;
}
#fp-nav ul li a{
	opacity:0.5;
}
#fp-nav ul li a + div{
	opacity:0.5;
}
#fp-nav ul li a.active{
	opacity:1;
}
#fp-nav ul li a.active + div{
	opacity:1;
}
#fp-nav ul li a span{
	width:12px !important;
	height:12px !important;
	margin: -6px 0 0 -6px !important;
	background:#525252 !important;
}
.transparent-mode #fp-nav ul li a span{
	background:#fff !important;
}

#fp-nav ul li a.active span{
	background:#8C48C0 !important;
}
#fp-nav ul li .fp-tooltip{
	opacity:0.5 !important;
	width: auto !important;
	top:1px !important;
	font-size:16px !important;
	color:#000 !important;
}
#fp-nav ul li .fp-tooltip.right {
	right: 30px !important;
}
#fp-nav ul li a.active + .fp-tooltip{
	font-weight:bold;
	opacity:1 !important;

}

.transparent-mode #fp-nav ul li .fp-tooltip{
	color:#fff !important;
}


/* 푸터 */
ul.navigation-footer{
	display:flex;
}
ul.navigation-footer > li{
	width:7.125rem;
}
ul.navigation-footer > li > a{
	color:#404040;
	font-weight:bold;
	margin-bottom:1.5rem;
	display:block;
}
ul.navigation-footer > li > a:hover{
	color:#8C48C0;
}
ul.navigation-footer > li > ul > li{
	margin-bottom:1.5rem;
}
ul.navigation-footer > li > ul > li > a{
	color:#525252;
}
ul.navigation-footer > li > ul > li > a:hover{
	color:#8C48C0;
}

/* 모바일모드 공통 */
@media screen and (min-width: 320px) and (max-width: 1023px) {

	/* 헤더 */
	header .container:after{
		content:"";
		display:block;
		border-bottom:1px solid #A3A3A3;
		position:absolute;
		left:16px;
		right:16px;
		bottom:0;
	}

	header.open-mobile-menu .brand .black{
		display:none
	}
	header.open-mobile-menu .brand .white{
		display:block
	}


	header .btn-menu-mobile .xi-bars{
		display:inline
	}
	header .btn-menu-mobile .xi-close{
		display:none
	}
	header.open-mobile-menu .btn-menu-mobile .xi-bars{
		display:none;
	}
	header.open-mobile-menu .btn-menu-mobile .xi-close{
		display:inline;
		color: #fff;
	}

	/* 네비세이션 바 메뉴 */
	header{
		position:relative;
		overflow: visible;
	}
	header nav{
		position:absolute;
		width:100%;
		top:44px;
		left:0;
		max-height:0;
		overflow:hidden;
		padding:16px 16px;
		transition:max-height 0.3s, background 0.3s;
		overflow: auto;
	}
	header.open-mobile-menu nav{
		max-height:1000px;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(7px);
	}

	header.open-mobile-menu:after{
		content:"";
		display:block;
		position: absolute;
		top:17px;
		left:0;
		right:0;
		bottom:0;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(15px);
	}

	.navigation{
		display:block;
	}
	.navigation > li{
		position:relative;
		border-bottom:1px solid #A3A3A3;
	}
	.navigation > li > a{
		color:#fff;
		font-size:18px;
		padding:16px 0;
		width:auto;
		text-align:left;
	}
	.navigation > li > ul{
		position:static;
		transform: translateX(0);
		padding:0;
		max-height:0;
		overflow: hidden;
	}

	.navigation > li > ul > li > a{
		padding:0.75rem;
		text-align: left;
	}
    /* 2depth toggle */
    .navigation > li.expanded > a{
        position:relative;
    }
    .navigation > li.expanded > a:after{
        content:"\e941";
        font-family:xeicon;
        position:absolute;
        right:0;
        transition:transform 0.2s;
    }

    .navigation > li.expanded.active-trail > a:after{
        transform: rotate(180deg);
    }

    .navigation > li.expanded > ul{
        max-height:0px;
        padding-bottom:0;
        overflow:hidden;
        transition: max-height 0.3s, padding-bottom 0.3s;
    }
    .navigation > li.expanded.active-trail > ul{
        max-height:600px;
        padding-bottom:16px;
    }

	header .bg-menu{
		display:none;
	}


}







